container_commands:
   01_syncdb:
     command: "django-admin.py syncdb --noinput"

option_settings:
   - namespace: aws:elasticbeanstalk:container:python
     option_name: WSGIPath
     value: yhack/wsgi.py
   - option_name: DJANGO_SETTINGS_MODULE
     value: yhack.settings
   - option_name: AWS_SECRET_KEY
     value: YEXigNNVCtEROTlt9e0WWni
   - option_name: AWS_ACCESS_KEY_ID
     value: AKIAJOWXGL5SIZGT4GIQ
